@page "/booking"
@using CarManager.Models
@inject IXeService XekhachServices
<style>
    .width {
        width: 100px;
    }

</style>
<h3>BookManager</h3>

<div style="align-content:center"  class="container">
    <div>
        <h3>Sơ đồ xe</h3>
    </div>
    <EditForm Model="xekhach" OnSubmit="HandleSubmit">
        <InputSelect id="chonxe" @bind-Value="xekhach.Id" @onclick="SelectValuesXe" class="form-select">
            <option value="0">-Chọn Xe-</option>
            @foreach (var xekhach in XekhachServices.Xeservices)
            {            
                <option value="@xekhach.Id">@xekhach.TenXe</option>
            }
        </InputSelect>
    <br />
        <InputSelect id="chonghe" @bind-Value="xekhach.GheId" @onclick="SelectValueGhe" class="form-select">
            <option value="0">-Chọn Ghe-</option>
            @foreach (var xekhach in XekhachServices.Gheservices)
            {
                <option value="@xekhach.GheId">@xekhach.SoGhe</option>
            }
        </InputSelect>
        <br />
        <label class="">So ghe da duoc chon</label>
        <div style="border:20px;">
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                @foreach (var item in XekhachServices.CheckGheservices)
                {
                    <input type="checkbox" class="btn-check" disabled="true" id="@item.SoGhe" autocomplete="off">
                    <label class="btn btn-outline-primary width " for="@item.SoGhe">@item.SoGhe</label>
                }              
            </div>
        </div>
        <br />
        <label class="">So ghe chu duoc chon</label>
         @foreach (var item in XekhachServices.UnCheckGheservices)
                {
                    <input type="checkbox" class="btn-check" id="@item.SoGhe" autocomplete="off">
                    <label class="btn btn-outline-primary width " for="@item.SoGhe">@item.SoGhe</label>
                }
        <br />
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="submit" class="btn btn-primary">Xác nhận</button>
        </div>
    </EditForm>
    
</div>
@code {

    Xe xekhach = new Xe();
    bool checkGhe = false;
    protected override async Task OnInitializedAsync()
    {
        await XekhachServices.CheckGhe();
        await XekhachServices.UncheckGhe();
    }
    private async Task SelectValuesXe()
    {
        await XekhachServices.GetXeDetail();

    }
    async Task HandleSubmit()
    {  
        await XekhachServices.UpdateGhe(xekhach.Id, xekhach);   
    }
    private async Task SelectValueGhe(){
        await XekhachServices.GetGheDetail();
    }
}
